body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    width: 100%;
    overflow-x: hidden;
}


#container {
    width: auto;
    margin-top: 0px;
    margin-bottom: 0px;
    height: auto;
}

#navbar {
    text-align: center;
    background-color: rgb(255, 255, 255);
    width: auto;
    height: auto;
    box-shadow: 0 4px 4px rgba(128, 128, 128, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}



#items-nav {
    margin-top: 10px;
    margin-left: 5%;
}

.dropdown-menu li {
    text-align: center;
    margin-top: 5px;
    border-bottom: 1px solid #ccc;


}

.dropdown-menu {
    z-index: 1001;
    position: absolute;
}

#li1 {
    transition: 300ms;

}

#li1:hover {
    background-color: gray;
    color: rgb(43, 194, 194);
}



#mod {
    font-style: italic;
    background-color: black;
    margin-top: 200px;
}

#toggle-menu {
    cursor: pointer;
    border: none;
    background: none;
    padding: 10px;
    font-size: 16px;
    outline: none;
}

#menu {
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    display: none;
}

#menu.active {
    display: block;
}

#menu li {
    padding: 10px;
}

#menu li a {
    text-decoration: none;
    color: #333;
}

#menu li a:hover {
    background-color: #e0e0e0;
}

#Formulario {
    width: 70%;
    margin-top: 150px;
    position: relative;
    border: 2px solid rgb(2, 180, 180);
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgb(121, 179, 179);
    margin-bottom: 30px;
}

#main-content {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    padding-right: 20px;
    margin-top: 20px;
}

#Calendario {
    margin-right: 20px;
}

#calendar-container {
    width: 300px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
}

th {
    background-color: #f2f2f2;
}

#month-year {
    text-align: center;
    margin-bottom: 10px;
}

#imagen {
    display: flex;
    justify-content: flex-end;
    margin-top: -930px;
    margin-right: 20px;
    margin-bottom: 30px;


}

#imagen img {
    width: 300px;
    height: 900px;
}

h4 {
    font-family: 'Times New Roman', Times, serif;

}

#footer {
    text-align: center;
    margin-top: 100px;
    background: linear-gradient(to right, #2b8d8d, rgb(43, 194, 194));
    color: white;
}

#mapa {
    margin-top: 4px;
    text-align: center;

}

#icon {
    color: white;
    text-decoration: none;
    transition: 300ms;
}

#icon1 {
    margin-left: 35px;
    color: white;
    text-decoration: none;
    transition: 300ms;
}

#icon2 {
    margin-left: 35px;
    color: white;
    text-decoration: none;
    transition: 300ms;
}

#icon3 {
    margin-left: 35px;
    color: white;
    text-decoration: none;
    transition: 300ms;
}

#icon:hover {
    color: rgb(115, 30, 226);
}

#icon1:hover {
    color: blue;/
}

#icon2:hover {
    color: rgb(29, 161, 242)
}

#icon3:hover {
    color: red;
}

#Calendario button {
    background-color: rgb(3, 102, 102);
    color: white;
    margin-left: 10%;
}

#Formulario h4 {
    font-size: 30px;
    font-weight: bold;
}

#Formulario h6 {
    color: rgb(241, 233, 233);
    font-size: 23px;
}


@media (max-width: 430px) {
    #imagen {
        display: flex;
        flex-direction: column;
        margin-top: 2%;
        margin-left: 13%;


    }

    #Formulario {
        width: 100%;
    }
}