#navbar {
    text-align: center;
    background-color: rgb(255, 255, 255);
    width: auto;
    height: auto;
    box-shadow: 0 4px 4px rgba(128, 128, 128, 0.5);
}


#items-nav {
    margin-left: 5%;
}

.dropdown-menu li {
    text-align: center;
    margin-top: 5px;
    border-bottom: 1px solid #ccc;
    
}

#li1{
    transition: 300ms;

}

#li1:hover{
    background-color: gray;
    color:rgb(43, 194, 194);
}

.modal-dialog {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 0; 

}



