body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100%; 
    width: 100%; 
    overflow-x: hidden; 
}


#container {
    width: auto;
    margin-top: 0px;
    margin-bottom: 0px;
    height: auto;
}

#navbar {
    text-align: center;
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 100px;
    box-shadow: 0 4px 4px rgba(128, 128, 128, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
}

#navbar img {
    height: 80px;
}
#footer {
<<<<<<< HEAD
    text-align: center;
    margin-top: 100px;
    background: linear-gradient(to right, #010013, #00344e);
=======
    
    background-color: rgb(0, 0, 0);
>>>>>>> parent of 4ddf001 (Cambios)
    color: white;
    width: 100%;
    text-align: center;
    margin-top: 0%;
    
 
}

#mapa {
    margin-top: 4px;
    text-align: center;

<<<<<<< HEAD
#lista-icons {
    margin-top: 2%;
=======
>>>>>>> parent of 4ddf001 (Cambios)
}

#icon {
    color: white;
    text-decoration: none;
    transition: 300ms;
}

#icon1 {
    margin-left: 35px;
    color: white;
    text-decoration: none;
    transition: 300ms;
}

#icon2 {
    margin-left: 35px;
    color: white;
    text-decoration: none;
    transition: 300ms;
}

#icon3 {
    margin-left: 35px;
    color: white;
    text-decoration: none;
    transition: 300ms;
}

#icon:hover {
<<<<<<< HEAD
    color: rgb(226, 164, 30);
=======
    color: rgb(115, 30, 226); 
>>>>>>> parent of 4ddf001 (Cambios)
}

#icon1:hover {
    color: blue;/
}

#icon2:hover {
    color: rgb(29, 161, 242)
}

#icon3:hover {
    color: red;
}
<<<<<<< HEAD

#contacto {
    margin-top: 4%;
}

#clima-columna {
    margin-top: 3%;
}


=======
>>>>>>> parent of 4ddf001 (Cambios)
#Informacion {
    margin-top: 100px;
    position: relative; 

}
#Informacion h3 {
    text-align: center;
    color: rgb(20, 150, 150);
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-left: auto; 
    margin-right: auto; 
    max-width: 80%; 
    position: absolute; 
    top: 3%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    z-index: 1;
    font-weight: bold;
}

#Informacion h5 {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(0, 0, 0);
    margin-left: auto; 
    margin-right: auto;
    max-width: 80%; 
    position: absolute;
    top: 45%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    z-index: 1;  
    font-weight: bold;
}

#Informacion img {
    width: 100%; 
    height: auto; 
    position: relative; 
    z-index: 0; 
    height: 100%;
    opacity: 0.7;
}
#Tarjetas{
    margin-bottom: 3%;
    margin-top: 3%; 
}
#Tarjetas .card{
    background: #2b8d8db0;
    color:black;
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-transform: uppercase;
    border-radius: 25px;
    text-decoration: none;
}
#Tarjetas .card :hover{
    background-color: rgba(255, 255, 255, 0.938);
    color: rgb(5, 139, 139);
    transform: scale(1.05); 
    transition: transform 0.3s ease;
    border-radius: 60px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;

}
@media (max-width: 430px) {
    #Informacion{
        position: relative;
        
    }
    
    #Informacion h3 {
        top: 3%;
        margin-bottom: 100%;
        width: 300%; 
    }

    #Informacion h5 {
        top: 40%;
        width: 500%;
        font-size: 100%;
        left: 55%;

    }
    #Informacion img {
        width: 110%;
        height: 250%;
        opacity: 0.7;
    }
    #Tarjetas {
        margin-top: 110%;
        
    }


}